@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <div class="dhx-container">
            <div class="dhx-row">
                <div class="col-12">
                    <div class="gantt-livedemo-container">
                        <div class="landing-view-demo shadow">
                            <div class="demo-main-container">
                                <div class="header gantt-demo-header">
                                    <ul class="gantt-controls">
                                        <li class="gantt-menu-item"><a data-action="collapseAll"><img src="~/imgs/ic_collapse_all_24.png"/>Collapse All</a></li>
                                        <li class="gantt-menu-item gantt-menu-item-last"><a data-action="expandAll"><img src="~/imgs/ic_expand_all_24.png">Expand All</a></li>
                                        <li class="gantt-menu-item"><a data-action="undo"><img src="~/imgs/ic_undo_24.png">Undo</a></li>
                                        <li class="gantt-menu-item gantt-menu-item-last"><a data-action="redo"><img src="~/imgs/ic_redo_24.png">Redo</a></li>
                                        <li class="gantt-menu-item"><a data-action="toggleAutoScheduling"><img src="~/imgs/ic_auto_scheduling_24.png">Auto Scheduling</a></li>
                                        <li class="gantt-menu-item"><a data-action="toggleCriticalPath"><img src="~/imgs/ic_critical_path_24.png">Critical Path</a></li>
                                        <li class="gantt-menu-item gantt-menu-item-right"><a data-action="fullscreen"><img src="~/imgs/ic_fullscreen_24.png">Fullscreen</a></li>
                                        <li class="gantt-menu-item gantt-menu-item-right gantt-menu-item-last"><a data-action="zoomToFit"><img src="~/imgs/ic_zoom_to_fit_24.png">Zoom to Fit</a></li>
                                        <li class="gantt-menu-item gantt-menu-item-right"><a data-action="zoomOut"><img src="~/imgs/ic_zoom_out.png">Zoom Out</a></li>
                                        <li class="gantt-menu-item gantt-menu-item-right"><a data-action="zoomIn"><img src="~/imgs/ic_zoom_in.png">Zoom In</a></li>
                                        <li class="gantt-menu-item gantt-menu-item-right gantt-menu-item-last">
                                            <a><img src="~/imgs/ic_export_24.png">Export</a>
                                            <ul class="gantt-controls">
                                                <li class="gantt-menu-item"><a data-action="toPDF"><img src="~/imgs/ic_file_24.png">PDF</a></li>
                                                <li class="gantt-menu-item"><a data-action="toPNG"><img src="~/imgs/ic_file_24.png">PNG</a></li>
                                                <li class="gantt-menu-item"><a data-action="toExcel"><img src="~/imgs/ic_file_24.png">Excel</a></li>
                                                <li class="gantt-menu-item"><a data-action="toMSProject"><img src="~/imgs/ic_file_24.png">MS Project</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="demo-main-content">
                                    <div id="gantt_here"></div>
                                </div>
                            </div>
                        </div>

                        <div class="top-25">
                            <div class="livedemo-title livedemo-title--gantt">
                                <span class="livedemo-title__label">Live Demo</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>